

//Colors
$black-color:rgb(24,24,24);
$white-color:rgb(198, 198, 198);
$red-color:rgb(146, 12, 5);

//Fonts
$titleFont:Arial, Helvetica, sans-serif;
$bodyFont:"Times New Roman",Times,serif;

//functions
@mixin buttonStyle($color,$font-size){
    width: 200px;
    height: 40px;
    background-color: $color;
    color: $white-color;
    font-size: $font-size;
    border: none;
   margin-left: 15px;
    border-radius: 8px;
}

@mixin navbarStyle{
    width: 100%;
    height: 80px;
    display: flex;
    background-color:$black-color;
   justify-content:flex-end;
    align-items: center;
}