@import '../variables/Variables.scss';

.mainpage{
    display: flex;
    justify-content: center;
    align-items: center;
    @at-root .h1{
        color:$red-color ;
    }
}


.button{
   @include buttonStyle($red-color,25px)
}
